body {
    background-color:white;
    /*overflow: hidden;*/
    
     
}

.title {
    color:black;
    font-family:"Times New Roman",serif;
    font-size:240pt;
    font-weight: bold;
    text-align:left;
    line-height:.89em;
    margin-left:40px;
    position:relative;
    float:left;
}

/*.title:hover {*/
/*     -webkit-filter: invert(100%);*/
/*    filter: invert(100%);*/
/*    background-color:black;*/
/*}*/

.cheat {
    color:black;
    font-family:"Times New Roman",serif;
    font-size:20pt;
    font-style:italic;
    text-align:right;
    /*margin-top:100px;*/
    margin-right: 20px;
    position:relative;
    clear: both;
    
    
}

.cheat:hover {
    text-decoration: line-through
    
    
}

.bunnyimg {
    margin-top:-500px;
    margin-left:185;
    position:absolute;
    
}

.circle {
    /*display: block;*/
    margin-top:150px;
    margin-left:650px;
    position: absolute;
    opacity: 100;
}

.circle:hover {
    
}

/*#circle {*/
/*	width: 100px;*/
/*	height: 100px;*/
/*	background: red;*/
/*	-moz-border-radius: 50px;*/
/*	-webkit-border-radius: 50px;*/
/*	border-radius: 50px;*/
/*	color:black;*/
/*}*/