body {
    background-color:white;
    /*overflow: hidden;*/
    
     
}

.title {
    color:black;
    font-family:"Times New Roman",serif;
    font-size:240pt;
    font-weight: bold;
    text-align:left;
    line-height:.89em;
    margin-left:40px;
    position:relative;
    float:left;
}

/*.title:hover {*/
/*     -webkit-filter: invert(100%);*/
/*    filter: invert(100%);*/
/*    background-color:black;*/
/*}*/

.cheat {
    color:black;
    font-family:"Times New Roman",serif;
    font-size:20pt;
    font-style:italic;
    position: fixed;
	top: 50%;
	-webkit-transform: translate(-50%);
	   -moz-transform: translateX(-50%);
			transform: translateY(-50%
			
    
    
}

.cheat:hover {
    text-decoration: line-through
    
    
}

.esc {
	position: fixed;
	top: 50%;
	font-size: 20pt;
	-webkit-transform: translateY (-50%);
	   -moz-transform: translateY(-50%);
			transform: translateY(-50%);
}

.esc:hover {
    text-decoration: line-through
    
    
}

.bunnyimg {
    margin-top:700px;
    margin-left:185;
    position:relative;
    
}

.wrapper {
	width: 10000px;
	background: white;
	height: 800px;
}

.circle {
	border-radius: 800px;
	width: 800px;
	height: 800px;
	border: 3px solid #000000;
	display: block;
	opacity: 0;
    top: 50%;
    -webkit-transform: translate (-50%);
	   -moz-transform: translate(-50%);
			transform: translate(-50%);
	
}

.circle:hover {
	opacity: 1;
	}























/*.circle {*/
    /*display: block;*/
/*    margin-top:150px;*/
/*    margin-left:650px;*/
/*    position: absolute;*/
/*    opacity: 100;*/
/*}*/

/*.circle:hover {*/
    
/*}*/

/*#circle {*/
/*	width: 100px;*/
/*	height: 100px;*/
/*	background: red;*/
/*	-moz-border-radius: 50px;*/
/*	-webkit-border-radius: 50px;*/
/*	border-radius: 50px;*/
/*	color:black;*/
/*}*/