.nine-wrapper1 {
    position:relative;
    margin-top:-300px;
    margin-left:400px;
}

.number9block1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}
.whiteblock9-11 {
    width:10px;
    height:2px;
    background-color:#000;
    position:absolute;
    top:5px; 
    left:5px;
}

.whiteblock9-21 {
    width:15px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px; 
    left:0px;
}

.nine-wrapper1:hover .whiteblock9-11 {
    background-color: #00CC00;
}
.nine-wrapper1:hover .whiteblock9-21 {
    background-color: #00CC00;
}

.nine-wrapper1:hover  {
    -webkit-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
-moz-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
}

.m-wrapper1 {
    position:relative;
    margin-top:-400px;
    margin-left:700px;
}

.lettermblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1m1 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2m1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:5px;
}

.whiteblock3m1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.m-wrapper1:hover .whiteblock1m1 {
    background-color: #00CC00;
}

.m-wrapper1:hover .whiteblock2m1 {
    background-color: #00CC00;
}

.m-wrapper1:hover .whiteblock3m1 {
    background-color: #00CC00;
}

.m-wrapper1:hover  {
    -webkit-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
-moz-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
}

.d-wrapper1 {
    position:relative;
    display:inline-block;
    margin-left:600px;
    margin-top:250px;
}

.letterdblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1d1 {
    width:11px;
    height:10px;
    background-color:#000;
    position:absolute;
    top:5px;
    left:6px;
}

.d-wrapper1:hover .whiteblock1d1 {
    background: #00CC00
}
.d-wrapper1:hover  {
    -webkit-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
-moz-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
}

.m-wrapper3 {
    position:relative;
    display:inline-block;
    margin-top:-100px;
    margin-left:500px;
}

.lettermblock3 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1m3{
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2m3 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:5px;
}

.whiteblock3m3 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.m-wrapper3:hover .whiteblock1m3 {
    background-color: #00CC00;
}

.m-wrapper3:hover .whiteblock2m3 {
    background-color: #00CC00;
}

.m-wrapper3:hover .whiteblock3m3 {
    background-color: #00CC00;
}

.m-wrapper3:hover  {
    -webkit-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
-moz-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
}

.n-wrapper1 {
    position:relative;
    margin-top:300px;
    margin-left:200px;
}

.letternblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1n1 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2n1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.n-wrapper1:hover .whiteblock1n1 {
    background-color: #00CC00;
}

.n-wrapper1:hover .whiteblock2n1 {
    background-color: #00CC00;
}

.n-wrapper1:hover  {
    -webkit-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
-moz-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
}

.v-wrapper1 {
    position:relative;
    margin-top:-300px;
    margin-left:700px;
    z-index:100;
}

.lettervblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1v1 {
    width:10px;
    height:17px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.v-wrapper1:hover .whiteblock1v1 {
    background-color: #00CC00;
}

.v-wrapper1:hover  {
    -webkit-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
-moz-box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
box-shadow: 10px 18px 123px 70px rgba(0,255,0,1);
}
