.a-wrapper1 {
    position:absolute;
    margin-left:100px;
    margin-top:-400px;
}

.letterablock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
    
}

.whiteblock1a1 {
    width:10px;
    height:2px;
    background-color: #000;
    position:absolute;
    top: 5px;
    left: 5px;
 
}
.whiteblock2a1 {
    width:10px;
    height:6px;
    background-color:#000;
    position:absolute;
    bottom: -20px;
    left: 5px;
}

.a-wrapper1:hover .whiteblock1a1 {
    background-color: #00CC00;
}

.a-wrapper1:hover .whiteblock2a1 {
    background-color: #00CC00;
}

.b-wrapper1 {
    position:absolute;
    margin-left:300px;
    margin-top:-300px;
}

.letterbblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
    
}

.whiteblock1b1 {
    width:10px;
    height:2px;
    background-color: #000;
    position:absolute;
    top: 5px;
    left: 5px;
 
}
.whiteblock2b1 {
    width:10px;
    height:2px;
    background-color: #000;
    position:absolute;
    bottom: -15px;
    left: 5px;
}

.b-wrapper1:hover .whiteblock1b1 {
    background-color: #00CC00;
}

.b-wrapper1:hover .whiteblock2b1 {
    background-color: #00CC00;
}

.c-wrapper1 {
    position:absolute;
    margin-left:700px;
    margin-top:-100px;
}

.lettercblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
    
}

.whiteblock1c1 {
    width:15px;
    height:9px;
    background-color:#000;
    position:absolute;
    top:5px;
    left:5px;
}

.c-wrapper1:hover .whiteblock1c1 {
    background: #00CC00; 
}

.i-wrapper1 {
    position:absolute;
    margin-left:500px;
    margin-top:-350px;
}

.letteriblock {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}
.whiteblock1i1 {
    width:5px;
    height:10px;
    background-color:#000;
    position:absolute;
    top:5px;
    left:0px;
}
.whiteblock2i1 {
    width:5px;
    height:10px;
    background-color:#000;
    position:absolute;
    top:5px;
    right:-20px;
}

.i-wrapper1:hover .whiteblock1i1 {
    background-color: #00CC00;
}

.i-wrapper1:hover .whiteblock2i1 {
    background-color: #00CC00;
}

.j-wrapper1 {
    position:absolute;
    margin-left:500px;
    margin-top:100px;
}

.letterjblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1j1 {
    width:5px;
    height:15px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:0px;
}

.j-wrapper1:hover .whiteblock1j1 {
    background-color: #00CC00;
}

.n-wrapper1 {
    position:absolute;
    margin-left:550px;
    margin-top:-400px;
}

.letternblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1n1 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2n1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.n-wrapper1:hover .whiteblock1n1 {
    background-color: #00CC00;
}

.n-wrapper1:hover .whiteblock2n1 {
    background-color: #00CC00;
}

.n-wrapper2 {
    position:absolute;
    margin-left:850px;
    margin-top:-130px;
}

.letternblock2 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1n2 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2n2 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.n-wrapper2:hover .whiteblock1n2 {
    background-color: #00CC00;
}

.n-wrapper2:hover .whiteblock2n2 {
    background-color: #00CC00;
}
.w-wrapper1 {
    position:absolute;
    margin-left:200px;
    margin-top:-250px;
}

.letterwblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1w1 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:5px;
}

.whiteblock2w1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}
.whiteblock3w1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:13px;
}

.w-wrapper1:hover .whiteblock1w1 {
    background-color: #00CC00;
}

.w-wrapper1:hover .whiteblock2w1 {
    background-color: #00CC00;
}
.w-wrapper1:hover .whiteblock3w1 {
    background-color: #00CC00;
}

.s-wrapper1 {
    position:absolute;
    margin-left:700px;
    margin-top:-270px;
}

.lettersblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1s1 {
    width:5px;
    height:2px;
    background-color:#000;
    position:absolute;
    top:5px;
    left:15px;
}

.whiteblock2s1 {
    width:5px;
    height:2px;
    background-color:#000;
    position:absolute;
    top:13px; 
    left:0px;
}

.s-wrapper1:hover .whiteblock1s1 {
    background-color: #00CC00;
}

.s-wrapper1:hover .whiteblock2s1 {
    background-color: #00CC00;
}

.nine-wrapper1 {
    position:absolute;
    margin-left:300px;
    margin-top:-200px;
}

.number9block1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}
.whiteblock9-11 {
    width:10px;
    height:2px;
    background-color:#000;
    position:absolute;
    top:5px; 
    left:5px;
}

.whiteblock9-21 {
    width:15px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px; 
    left:0px;
}

.nine-wrapper1:hover .whiteblock9-11 {
    background-color: #00CC00;
}
.nine-wrapper1:hover .whiteblock9-21 {
    background-color: #00CC00;
}
