.d-wrapper1 {
    position:absolute;
    margin-left:300px;
}

.letterdblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1d1 {
    width:11px;
    height:10px;
    background-color:#000;
    position:absolute;
    top:5px;
    left:6px;
}

.d-wrapper1:hover .whiteblock1d1 {
    background: #00CC00 
}

.d-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}
.h-wrapper1 {
    position:absolute;
    margin-top:-200px;
    margin-left:420px;
}

.letterhblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}
.whiteblock1h1 {
    width:10px;
    height:6px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}
.whiteblock2h1 {
    width:10px;
    height:6px;
    background-color:#000;
    position:absolute;
    bottom:-20px;
    left:5px;
}

.h-wrapper1:hover .whiteblock1h1 {
    background-color: #00CC00;
}

.h-wrapper1:hover .whiteblock2h1 {
    background-color: #00CC00;
}
.h-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}

.m-wrapper1 {
    position:absolute;
    margin-top:-400px;
    margin-left:100px;
}

.lettermblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1m1 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2m1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:5px;
}

.whiteblock3m1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.m-wrapper1:hover .whiteblock1m1 {
    background-color: #00CC00;
}

.m-wrapper1:hover .whiteblock2m1 {
    background-color: #00CC00;
}

.m-wrapper1:hover .whiteblock3m1 {
    background-color: #00CC00;
}
.m-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}

.n-wrapper1 {
    position:absolute;
    margin-top:-100px;
    margin-left:400px;
}

.letternblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1n1 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2n1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.n-wrapper1:hover .whiteblock1n1 {
    background-color: #00CC00;
}

.n-wrapper1:hover .whiteblock2n1 {
    background-color: #00CC00;
}
.n-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}
.n-wrapper1 {
    position:absolute;
    margin-top:100px;
    margin-left:200px;
}

.letternblock11 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1n1 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.whiteblock2n1 {
    width:2px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:13px;
}

.n-wrapper1:hover .whiteblock1n1 {
    background-color: #00CC00;
}

.n-wrapper1:hover .whiteblock2n1 {
    background-color: #00CC00;
}
.n-wrapper2:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}

.p-wrapper1 {
    position:absolute;
    margin-top:-90px;
    margin-left:850px;
}

.letterpblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1p1 {
    width:10px;
    height:2px;
    background-color:#000;
    position:absolute;
    top:5px;
    left:5px;
}

.whiteblock2p1 {
    width:15px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px;
    left:5px;
}

.p-wrapper1:hover .whiteblock1p1 {
    background-color: #00CC00;
}

.p-wrapper1:hover .whiteblock2p1 {
    background-color: #00CC00;
}

.p-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}

.v-wrapper1 {
    position:absolute;
    margin-top:-450px;
    margin-left:600px;
}

.lettervblock1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock1v1 {
    width:10px;
    height:17px;
    background-color:#000;
    position:absolute;
    top:0px;
    left:5px;
}

.v-wrapper1:hover .whiteblock1v1 {
    background-color: #00CC00;
}

.v-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}

.four-wrapper1 {
    position:absolute;
    margin-top:-200px;
    margin-left:100px;
}

.number4block1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}

.whiteblock4-11 {
    width:10px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:0px; 
    left:5px;
}

.whiteblock4-21 {
    width:15px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px; 
    left:0px;
}

.four-wrapper1:hover .whiteblock4-11 {
    background-color: #00CC00;
}

.four-wrapper1:hover .whiteblock4-21 {
    background-color: #00CC00;
}

.four-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}


.nine-wrapper1 {
    position:absolute;
    margin-top:-150px;
    margin-left:600px;
}

.number9block1 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}
.whiteblock9-11 {
    width:10px;
    height:2px;
    background-color:#000;
    position:absolute;
    top:5px; 
    left:5px;
}

.whiteblock9-21 {
    width:15px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px; 
    left:0px;
}

.nine-wrapper1:hover .whiteblock9-11 {
    background-color: #00CC00;
}
.nine-wrapper1:hover .whiteblock9-21 {
    background-color: #00CC00;
}

.nine-wrapper1:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}

.nine-wrapper2 {
    position:absolute;
    margin-top:100px;
    margin-left:500px;
}

.number9block2 {
    width:20px;
    height:20px;
    background-color:#000;
    position:absolute;
}
.whiteblock9-12 {
    width:10px;
    height:2px;
    background-color:#000;
    position:absolute;
    top:5px; 
    left:5px;
}

.whiteblock9-22 {
    width:15px;
    height:5px;
    background-color:#000;
    position:absolute;
    top:15px; 
    left:0px;
}

.nine-wrapper2:hover .whiteblock9-12 {
    background-color: #00CC00;
}
.nine-wrapper2:hover .whiteblock9-22 {
    background-color: #00CC00;
}

.nine-wrapper2:hover {
-webkit-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
-moz-box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
box-shadow: 10px 10px 96px 17px rgba(0,204,0,1);
}