.key {
    color:white;
    line-height:1.2em;
    font-size:10pt;
    font-family:Arial,Helvetica,sans-serif;
    text-align:left;
    
}

body{
    background-image:url('http://gifyoutube.com/gif/v1QaMZ');
    background-position: center;
    background-size: cover;
}


p {
    color:white;
    line-height:1.2em;
    font-size:10pt;
    font-family:Arial,Helvetica,sans-serif;
    text-align:center;
    background-image:url('http://www.example.com/yourfile.gif');
background-position: center;
background-size: cover;
}





