body{
   margin:5%;
   background:white;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size:40pt;
   color:#3385FF;
   background-opacity:.5;
}

.headertop {
   height:165px;
   background:#F0F0F0;
   border:.5px solid #CCC;
   width:200%;
   left:-10%;
   top:0%;
   position:fixed;
   z-index:900;
  box-shadow: 5px .5px 5px #999999;
}

.dotcounter {
  position:absolute;
  margin-top:7%;
  margin-left:2%;
}

.dot1 {
  width: 12px;
  height: 12px;
  background: #fff;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:1%;
  position:fixed;
}
.dot2 {
  width: 12px;
  height: 12px;
  background: #fff;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:2%;
  position:fixed;
}
.dot3 {
  width: 12px;
  height: 12px;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:3%;
  position:fixed;
}
.dot4 {
  width: 12px;
  height: 12px;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:4%;
  position:fixed;
}
.dot5 {
  width: 12px;
  height: 12px;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:5%;
  position:fixed;
}
.dot6 {
  width: 12px;
  height: 12px;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:6%;
  position:fixed;
}
.dot7 {
  width: 12px;
  height: 12px;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:7%;
  position:fixed;
}
.dot8 {
  width: 12px;
  height: 12px;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:8%;
  position:fixed;
}
.dot9 {
  width: 12px;
  height: 12px;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top:2%;
  left:9%;
  position:fixed;
  z-index:1000;
}

.webtitle {
  font-size:14pt;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:#3385FF;
  top:1.5%;
  left:46%;
  position:fixed;
}

#batterylife {
  right:1%;
  top:.7%;
  position:fixed; 
  z-index: 1600;
  top:1.7%;
  right:1%;
  background: url('http://icons.iconarchive.com/icons/icons8/windows-8/128/Mobile-Empty-Battery-icon.png') no-repeat;
  background-size: 33px 33px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}

#batterylife .bar {
  position: absolute;
  z-index: 100;
  top: 5px;
  margin: 3px 0 3px 5px;
  height: 16px;
  height: 16px;
}

.bar { background: black; }

.battery100 .bar { width: 25px; }
.battery90 .bar  { width: 22px; }
.battery80 .bar  { width: 19px; }
.battery70 .bar  { width: 16px; }
.battery60 .bar  { width: 13px; }
.battery50 .bar  { width: 10px; background: yellow; }
.battery40 .bar  { width: 7px; background: yellow;}
.battery30 .bar  { width: 5px; background: yellow;}
.battery20 .bar  { width: 3px; background: red;}
.battery10 .bar  { width: 1px; background: red;}
.battery0 .bar   { width: 0px; background: red; }



.batterypercentage {
  font-size:10pt;
  color:black;
  top:2%;
  right: 3.5%;
  position:fixed;
}


.go-button {
  width:96px;
  top: 5.3%;
  right:2%;
  color:gray;
  font-size:20pt;
  position:fixed;
  z-index:2000;
}

.go-button:hover {
  -webkit-animation-name: linkQuake;
    -moz-animation-name: linkQuake;
      animation-name: linkQuake;
  -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
      animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
      transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
      animation-timing-function: linear;
}

@keyframes linkQuake {
  0%   { 
    transform: translate(2px, 1px)   rotate(0deg); 
  }
  10%  { 
    transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20%  { 
    transform: translate(-3px, 0px)  rotate(1deg); 
  }
  30%  { 
    transform: translate(0px, 2px)   rotate(0deg); 
  }
  40%  { 
    transform: translate(1px, -1px)  rotate(1deg); 
  }
  50%  { 
    transform: translate(-1px, 1px)  rotate(-1deg); 
  }
  60%  { 
    transform: translate(-3px, -2px)  rotate(0deg); 
  }
  70%  { 
    transform: translate(2px, 1px)   rotate(-1deg); 
  }
  80%  { 
    transform: translate(-1px, -2px) rotate(1deg); 
  }
  90%  { 
    transform: translate(2px, -1px)   rotate(0deg); 
  }
  100% { 
    transform: translate(1px, -2px)  rotate(-1deg); 
  }
}

@-moz-keyframes linkQuake { /* Firefox */
  0%   { 
    -moz-transform: translate(2px, 1px)   rotate(0deg); 
  }
  10%  { 
    -moz-transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20%  { 
    -moz-transform: translate(-3px, 0px)  rotate(1deg); 
  }
  30%  { 
    -moz-transform: translate(0px, 2px)   rotate(0deg); 
  }
  40%  { 
    -moz-transform: translate(1px, -1px)  rotate(1deg); 
  }
  50%  { 
    -moz-transform: translate(-1px, 1px)  rotate(-1deg); 
  }
  60%  { 
    -moz-transform: translate(-3px, -2px)  rotate(0deg); 
  }
  70%  { 
    -moz-transform: translate(2px, 1px)   rotate(-1deg); 
  }
  80%  { 
    -moz-transform: translate(-1px, -2px) rotate(1deg); 
  }
  90%  { 
    -moz-transform: translate(2px, -1px)   rotate(0deg); 
  }
  100% { 
    -moz-transform: translate(1px, -2px)  rotate(-1deg); 
  }
}

@-webkit-keyframes linkQuake { /* Safari and Chrome */
  0%   { 
    -webkit-transform: translate(2px, 1px)   rotate(0deg); 
  }
  10%  { 
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20%  { 
    -webkit-transform: translate(-3px, 0px)  rotate(1deg); 
  }
  30%  { 
    -webkit-transform: translate(0px, 2px)   rotate(0deg); 
  }
  40%  { 
    -webkit-transform: translate(1px, -1px)  rotate(1deg); 
  }
  50%  { 
    -webkit-transform: translate(-1px, 1px)  rotate(-1deg); 
  }
  60%  { 
    -webkit-transform: translate(-3px, -2px)  rotate(0deg); 
  }
  70%  { 
    -webkit-transform: translate(2px, 1px)   rotate(-1deg); 
  }
  80%  { 
    -webkit-transform: translate(-1px, -2px) rotate(1deg); 
  }
  90%  { 
    -webkit-transform: translate(2px, -1px)   rotate(0deg); 
  }
  100% { 
    -webkit-transform: translate(1px, -2px)  rotate(-1deg); 
  }
}

.headerbottom {
  height:70px;
    background:#F0F0F0;
    border:.5px solid #CCC;
    width:200%;
    left:-10%;
  bottom:0%;
    position:fixed;
  box-shadow: .5px .5px 5px #999999;
}

.textms {
  border-radius: 10px;
    background: white;
  border: 1px solid #A6A6A6;
    width: 85%;
    height: 5%;
    bottom:1.5%;
  left:6%;
  position:fixed;
}

.textms img {
  position: relative;
  top: -10px;
  left:13px;
  max-height: 40px;
  width: auto !important;
}

.emojitoggle {
  width: 55px;
  bottom:1%;
  left:1%;
  position:fixed;
}

.triangle3{
  top:10%;
  right:8%;
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 60px solid white;
  position:fixed;
  z-index:800;
}

.messageblnk {
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:black;
  text-align:center;
  position: fixed;
  top:7%;
  right:10%;
  border-radius: 25px;
  background: white;
  padding-top: 25px;
  padding-left: 28px;
  padding-right: 15px;
  height:50px;
  width:135px;
  z-index:950;
}

.riddle-holder {
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:black;
  text-align:right;
  position: fixed;
  top:7%;
  right:10%;
  border-radius: 30px;
  background: white;
  padding-top: 25px;
  padding-left: 28px;
  padding-right: 15px;
  height:50px;
  z-index:3000;


}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color:black;
  top:38%;
  left:40%;
  text-align: center;
  position:fixed;


}

li {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-color: #434343;
  border-width: thin;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  margin-top: 6%;
  display: inline-block;
}


.lifecounter-numbers {
  width: 300px;
}

/*.win {
  width:160px;
  margin-left:60px;
  margin-top:10px;
}*/

.winalert {
  display: none;
  background: white;
  width: 300px;
  height:220px;
  top:40%;
  left:40%;
 -moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 2px 4px 4px #E3E3E3;
-webkit-box-shadow: 1px 2px 4px 4px #E3E3E3;
box-shadow: 1px 2px 4px 4px #E3E3E3;
  position:fixed;
}

.losealert {
  display: none;
  background: white;
  width: 300px;
  height:220px;
  top:40%;
  left:40%;
 -moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 2px 4px 4px #E3E3E3;
-webkit-box-shadow: 1px 2px 4px 4px #E3E3E3;
box-shadow: 1px 2px 4px 4px #E3E3E3;
  position:fixed;
}

hr {
  margin-top:-8px;
}

hr 1 {
  margin-top:-8px;
}

hr 2 {
  margin-top:130px;
}

hr 3 {
  margin-top:-8px;
}

.finalfortunemsg {
  display: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:15pt;
  color:black;
  background: white;
  width: 300px;
  height:220px;
  top:40%;
  left:40%;
 -moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 2px 4px 4px #E3E3E3;
-webkit-box-shadow: 1px 2px 4px 4px #E3E3E3;
box-shadow: 1px 2px 4px 4px #E3E3E3;
  position:fixed;
  text-align: center;
}

.finalfailmsg {
  display: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:15pt;
  color:black;
  background: white;
  width: 300px;
  height:220px;
  top:40%;
  left:40%;
 -moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 2px 4px 4px #E3E3E3;
-webkit-box-shadow: 1px 2px 4px 4px #E3E3E3;
box-shadow: 1px 2px 4px 4px #E3E3E3;
  position:fixed;
  text-align: center;
}


.solvedfortune {
  display: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:13pt;
  color:black;
  background: white;
  width: 500px;
  height:320px;
  top:40%;
  left:35%;
 -moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 2px 4px 4px #E3E3E3;
-webkit-box-shadow: 1px 2px 4px 4px #E3E3E3;
box-shadow: 1px 2px 4px 4px #E3E3E3;
  position:fixed;
}

.cont {
left:46.5%;
position:fixed;
top:70%;
}

.continue {
top:60%;
left:43%;
position:fixed;
}


.fortunenext {
position:fixed;
z-index: 2000;
top:60%;
left:45%;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size:15pt;
color:#3385FF;

}


/*.close{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:15pt;
  color:#3385FF;
  margin-left:30%;
  margin-top: -20px;
}
*/

.close {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:15pt;
  color:#3385FF;
  margin-left:43%;
  margin-top: -8px;
}

.batterycheck {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:15pt;
  color:#3385FF;
  margin-left:31%;
  margin-top: -10px;
}

.show {
  display:block;
}

.send {
  bottom: 2%;
  left:93%;
  color:gray;
  font-size:20pt;
  position:fixed;
  z-index:1000;
}


.dot.active,
.lifecounter-numbers .active {
  color:white;
  background-color:#3385FF; 
  border-color: #CFCFCF;
}

.hide {
  display: none !important;
}

.skullemoji {
background-image:url("http://cdn.shopify.com/s/files/1/0185/5092/products/persons-0088_large.png?v=1369543912"); 
background-size: 100px;
width:100px;
font-size:0;
height:100px;
border:0;
display: inline-block;
float:right

}

/* unvisited link */
a:link {
    color: #3385FF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #3385FF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #3385FF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #3385FF;
    text-decoration: none;
}

/*.world {
  overflow: hidden;
  display: none;
}*/



