body {
   /*background-image: url("AlGreen17.215.jpg");*/
   /*cover: 100%;*/
   background-color: black;
}




.type1 {
   font-family:  helvetica, sans-serif;
   size:60px;
   margin-left:70px;
     float: left;
   
}

.type2 {
   font-family: futura, helvetica, sans-serif;
   size: 60px;
   margin-left:130px;
     float: right;
   
}

.type3 {
   font-family: futura, helvetica, sans-serif;
   size: 30px;
     float: left;
   
}

.type4 {
   font-family: futura, helvetica, sans-serif;
   size: 40px;
   text-align: right;
   margin-right: 40px;
     float: left;
   
}

.type5 {
   font-family:  helvetica, sans-serif;
   size:60px;
   margin-left:70px;
     float: left;
   
}

.type6 {
   font-family: futura, helvetica, sans-serif;
   size: 60px;
   margin-left:130px;
     float: right;
   
}

.type7 {
   font-family: futura, helvetica, sans-serif;
   size: 30px;
     float: left;
   
}

.type8 {
   font-family: futura, helvetica, sans-serif;
   size: 40px;
   text-align: right;
   margin-right: 40px;
   float: right;
   
}
.type9 {
   font-family:  helvetica, sans-serif;
   size:60px;
   margin-left:70px;
     float: left;
   
}

.type10 {
   font-family: futura, helvetica, sans-serif;
   size: 60px;
   margin-left:130px;
     float: right;
   
}

.type11 {
   font-family: futura, helvetica, sans-serif;
   size: 30px;
   margin-right:100x;
   margin-top:20px;
     float: left;
   
}

.type12 {
   font-family: futura, helvetica, sans-serif;
   size: 40px;
   text-align: right;
   margin-right: 40px;
     float: right;
   
}

.type13 {
   font-family:  helvetica, sans-serif;
   size:60px;
   margin-left:70px;
     float: left;
   
   
}

.type14 {
   font-family: futura, helvetica, sans-serif;
   size: 60px;
   margin-left:130px;
   text-align: center;
     float: right;
   
}

.type15 {
   font-family: futura, helvetica, sans-serif;
   size: 30px;
   text-align: right;
   margin-right:70x;
     float: left;
   

}

.type16 {
   font-family: futura, helvetica, sans-serif;
   size: 40px;
   text-align: right;
   margin-right: 40px;
     float: right;
   
}

.type17 {
   font-family:  helvetica, sans-serif;
   size:60px;
   margin-left:70px;
     float: right;
   
}

.type18 {
   font-family: futura, helvetica, sans-serif;
   size: 60px;
   margin-left:130px;
     float: left;
   
}

.type19 {
   font-family: futura, helvetica, sans-serif;
   size: 30px;
   float: left;
   
}

.type20 {
   font-family: futura, helvetica, sans-serif;
   size: 40px;
   text-align: center;
   margin-right: 40px;
     float: left;
   
   
}

.type1:hover {
   color:#E6005C;
}

.type2:hover {
   color:#3399FF;
}

.type3:hover {
   color:#99CCFF;
}

.type4:hover {
   color:#993399;
}

.type5:hover {
   color:#E6005C;
}

.type6:hover {
   color:#3399FF;
}

.type7:hover {
   color:#99CCFF;
}

.type8:hover {
   color:#993399;
}

.type9:hover {
   color:#E6005C;
}

.type10:hover {
   color:#3399FF;
}

.type11:hover {
   color:#99CCFF;
}

.type12:hover {
   color:#993399;
}

.type13:hover {
   color:#E6005C;
}

.type14:hover {
   color:#3399FF;
}

.type15:hover {
   color:#99CCFF;
}

.type16:hover {
   color:#993399;
}
.type17:hover {
   color:#E6005C;
}

.type18:hover {
   color:#3399FF;
}

.type19:hover {
   color:#99CCFF;
}

.type20:hover {
   color:#993399;
}


    
.return{
   text-align:center;
   float: center;
}

.audio {
   text-align:center;
   float: center;
}

.disco1 {
   text-align:center;
   margin-top:70px;
}